body {
  background: #1d1d1d;
}

.tip {
    border-color: #42b983;
    background-color: rgb(66 185 131 / 25%);
    color: #a0ddc1;
}
.tip-title {
    color: #66c99c;
}

img {
    border-radius: 8px;
}

.menu {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #379c6f;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    border-width: 0;
    transition: none;
}

.icon {
    width:40px;
    height:40px;
}

.dsc-emoji {
    width:20px;
    height:20px;
}

a.header-anchor {
    font-size: .85em;
    float: left;
    margin-left: -0.87em;
    padding-right: 0.23em;
    margin-top: 0.125em;
    opacity: 0;
}

a.header-anchor:focus-visible {
    opacity: 1;
}

code {
    background-color: #2f3136;
    font-size: .9em;
    padding: 0.2em;
}
.text {
    color: #d1d5db;
    font-family: 'IBM Plex Sans', sans-serif;
}
.description {
    color: #72767d;
    font-family: 'IBM Plex Sans', sans-serif;
}
.title {
    color: #66c99c;
    font-family: 'IBM Plex Sans', sans-serif;
}

a {
    color: #48be89;
    text-decoration: none;
    -webkit-transition: color 1s;
    transition: color 1s;
}
a:hover {
    text-decoration: underline;
    color: #88dab5;
}